<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel='stylesheet' href='./style.css'>
    <title> Robot Search </title>
  </head>
  <center>
  <body>
    <nav>
        <!-- <a href='/{{job}}'>Home</a> -->
    <!-- <a href='/looking/{{job}}'>Looking</a>
    <a href='/employed/{{job}}'>Employed</a>
    <a href='/{{job}}'>Listing</a> -->
<!-- </nav> -->













    <!-- <div class='container'>
      {{#users}}
      <div class='robots'>
        <a href='/employed/{{id}}'>employed</a>
        <div class='image'>
          <img src={{avatar}}>
        </div>
        <div class='name'>
          {{#name}}
          <p>{{name}}</p>
          {{/name}}
        </div>
        <div class='job'>
          {{#job}}
          <p>{{job}}, {{company}}</p>
          {{/job}}
        </div> -->
        {{#users}}
<a class="robot_container" href="/listing/{{id}}">
        <img src={{avatar}}>
        <h3 class="name">{{name}}</h3>
        {{#job}}
          <h4>{{job}}</h4>
          <h4>{{company}}</h4>
        {{/job}}
        {{^job}}
          <h4 class="needsJob">Available for Hire</h4>
        {{/job}}
      </a>
{{/users}}
      </div>
      {{/users}}
    </div>
  </body>
</center>r
  </html>
