  <!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="./style.css">
    <title></title>
  </head>
  <body>

    <header>
      <center>
      <h1> User Directory </h1>
      <nav>


  <!-- <a href='/{{job}}'>Home</a> -->
      <a href='/looking/{{job}}'>Looking</a>
      <a href='/employed/{{job}}'>Employed</a>
      <a href='/{{job}}'>Listing</a>
  </nav>
      </center>
    </header>
    <div class ="container">

  {{#users}}
  <div class="robots">
  <a href="/listing/{{id}}">listing</a>
  <div class="image">
    <img src={{avatar}}>
    </div>
    <div class="name">
      {{#name}}
      <p>{{name}}</p>
      {{/name}}
      </div>
<div class="job">
  {{#job}}
  <p>{{job}}, {{company}}</p>
  {{/job}}
  </div>
</div>
{{/users}}
  </div>
  </body>
  </html>
