<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./style.css">

  <meta charset="utf-8">
  <title> Robots </title>
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
  <nav>
    <center>
    <a href='/looking/{{job}}'>Looking</a>
    <a href='/employed/{{job}}'>Employed</a>
    <a href='/{{job}}'>Listing</a>
  </center>
</nav>
<center>
  <h1>User Directory</h1>
</center>

  <div class='container'>
    {{{yield}}}
  </div>
</body>
</html>
