<head>
<link rel="stylesheet" href="./style.css">
</head>
<body>
<nav>
    <!-- <a href='/{{job}}'>Home</a> -->
<a href='/looking/{{job}}'>Looking</a>
<a href='/employed/{{job}}'>Employed</a>
<a href='/{{job}}'>Listing</a>
</nav>
<div class='listingLink' href='/{{id}}'>
  <div class='id'>
  <p>{{name}}</p>
  {{job}}
</div>
</div>
</body>
