<head>
<link rel="stylesheet" href="./style.css">
</head>
<body>
<nav>
    <!-- <a href=/>Home</a> -->
<!-- <a href='/looking/'>Looking</a>
<a href='/employed'>Employed</a>
<a href='/{{job}}'>Listing</a> -->
</nav>
{{#users}}
<div class='listingLink' href='/{{id}}'>
  <div class='id'>
  <h3>{{name}}</h3>
  {{job}}
  <br></br>
  <img src={{avatar}}>
  <br></br>
  <h3>Company: {{company}} </h3>
  <br></br>
  <h4>{{job}}</h4>
  <br></br>

  <h4>{{company}}</h4>
  <br></br>

  <h4>{{skills}}</h4>
  <br></br>

  <h4>{{email}}</h4>
  <br></br>

  <h4>{{university}}</h4>
  <br></br>

  <h4>{{address}}</h4>
  <br></br>

  <h4>{{phone}}</h4>
  <br></br>

  <h4>{{skills}}</h4>



</div>
{{/users}}

</div>
</body>
