<head>
  <link rel="stylesheet" href="../style.css">

<nav>
  <a href='/looking{{job}}'>Looking</a>
  <a href='/employed/{{job}}'>Employed</a>
  <a href='/{{job}}'>Listing</a>
</nav>
</head>



<!-- <body>
<div class='container'>
  {{#users}}
  <div class='robots'>
    <a href='/looking/{{id}}'>Looking</a>
    <div class='image'>
      <img src={{avatar}}>
    </div>
    <div class='name'>
      {{#name}}
      <p>{{name}}</p>
      <br></br>
      {{job}}
      <br></br>
{{company}}
      {{/name}}
    </div>
  </div> -->

<center>
  {{#users}}
<a class="robot_container" href="/looking/{{id}}">
  <img src={{avatar}}>

  <h3 class="name">{{name}}</h3>
  {{#job}}


    <h4>{{job}}</h4>
    <h4>{{company}}</h4>
  {{/job}}
  {{^job}}
    <h4 class="needsJob">Available for Hire</h4>
  {{/job}}



</a>

<h4>{{company}}</h4>

{{/users}}
</div>
{{/users}}
</center>






{{#users}}
<div class='listingLink' href='/looking/{{id}}'>
  <div class='id'>
r  <br></br>
  <img src={{avatar}}>
  <br></br>
  <h3>Company: {{company}} </h3>
  <br></br>
  <h4>{{job}}</h4>
  <br></br>

  <h4>{{company}}</h4>
  <br></br>

  <h4>{{skills}}</h4>
  <br></br>

  <h4>{{email}}</h4>
  <br></br>

  <h4>{{university}}</h4>
  <br></br>

  <h4>{{address}}</h4>
  <br></br>

  <h4>{{phone}}</h4>
  <br></br>

  <h4>{{skills}}</h4>



</div>
{{/users}}




</div>
</body>
