
<form class="" action="/signup" method="post">
  <p>
  <input type="text" name="username" value="" placeholder="Username">
</p>
<p>
  <input type="text" name="password" value="" placeholder="Password">
</p>
  <button type="submit" name="button">Signup</button>
</form>
